<%- include ../partials/header.ejs%>

    <div class="container mt-5">
      <form action="/users/profile" method="POST">

        <div>
          <label for="fname">Name :</label>
          <input type="text" id="fname" class="form-control" name="name" value="<%= user.name %>"> <br/>
        </div>

        <div>
          <label for="lname">Email :</label>
          <input type="text" id="lname" class="form-control" name="email" value="<%= user.email %>"> <br/>
        </div>

        <div>
          <label for="email">Password :</label>
          <input type="password" id="email" class="form-control" name="password" value="<%= user.password %>"> <br/>
        </div>

        <div>
          <label for="email">Saldo :</label>
          <input type="text" disabled  id="email" class="form-control" name="saldo" value="<%= user.saldo %>" > <br/>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>

<%- include ../partials/footer.ejs%>
