<%- include ../partials/header.ejs %>
    <section id="main">
      <div class="container">
        <div class="row">

          <%- include ../partials/leftbar.ejs %>

          <div class="col-md-9">
          <!--Latest User-->
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:  #095f59; color: white;">
                <h3 class="panel-title">Add New Item</h3>
              </div>
              <div class="panel-body">
                <form action="/user/items/add" method="POST">
                  <div class="form-group col-md-6">
                    <label >Item Name :</label>
                    <input type="text" class="form-control" name="name"> <br/>

                    <label>Price :</label>
                    <input type="number" class="form-control" name="price"> <br/>

                    <label>Percentage (%) :</label>
                    <input type="number" class="form-control" name="percentage"> <br/>

                    <label>Foundations :</label>

                    <div class="form-group">
                      <select name="FoundationId" class="custom-select">
                        <option value='' > --- select Foundation --- </option>
                        <% foundations.forEach(function(foundation) {%>
                           <option value= '<%= foundation.id %>' > <%= foundation.foundation_name %> </option>
                        <% }) %>
                      </select>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Submit">
                  </div>


                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

<%- include ../partials/footer.ejs %>
