<%- include ../partials/header.ejs %>
    <section id="main">
      <div class="container">
        <div class="row">

          <%- include ../partials/leftbar.ejs %>

          <div class="col-md-9">
          <!--Latest User-->
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:  #095f59; color: white;">
                <h3 class="panel-title">Profile</h3>
              </div>
              <div class="panel-body">
                <form action="/user/profile" method="POST">

                  <div>
                    <label for="fname">Name :</label>
                    <input type="text" id="fname" class="form-control" name="name" value="<%= user.name %>"> <br/>
                  </div>

                  <div>
                    <label for="lname">Email :</label>
                    <input type="text" id="lname" class="form-control" name="email" value="<%= user.email %>"> <br/>
                  </div>

                  <div>
                    <label for="email">Saldo :</label>
                    <input type="text" disabled  id="email" class="form-control" name="saldo" value="<%= user.saldo %>" > <br/>
                  </div>

                  <input type="submit" class="btn btn-primary" value="Submit">
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

<%- include ../partials/footer.ejs %>
